<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Archive</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/get-details.css" />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <main>
      <% if (!genreDetails || !genreDetails.id) { %>
        <p class="error-message">A genre with this ID doesn't exist.</p>
      <% } else { %>
        <div>
          <h2><%= genreDetails.name %></h2>
          <div class="actions">
            <a href="<%= genreDetails.id %>/edit" class="a-button">Edit</a>
            <form
              action="/genres/<%= genreDetails.id %>/delete"
              method="post"
              onsubmit="return confirm('Are you sure you want to delete this genre?')"
            >
              <button>Delete</button>
            </form>
          </div>
        </div>
        <p class="small-p"><%= genreDetails.description %></p>

        <% if (genreDetails.books && genreDetails.books.length > 0) { %>
          <h3>Books in <%= genreDetails.name %></h3>
          <ul>
            <% genreDetails.books.forEach(book => { %>
              <li>
                <a href="/books/<%= book.id %>"><%= book.title %></a>
                <p><strong>ISBN:</strong> <%= book.isbn %></p>
                <p><strong>Published:</strong> <%= book.publication_date %></p>
                <p><%= book.description %></p>
                <img src="<%= book.imageUrl %>" alt="">
              </li>
            <% }); %>
          </ul>
        <% } %>
      <% } %>
    </main>
  </body>
</html>
