<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Archive</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/add-form.css" />
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main>
      <h2>Edit Author</h2>
      
      <form action="/authors/<%= author.id %>" method="POST">
        <label>
          <p>Name <span class="required">*</span></p>
          <input
            type="text"
            value="<%= author.name %>"
            name="author-name"
            placeholder="Author Name"
            required
            pattern=".*\S+.*"
            title="This field is required"
          />
        </label>
        <label>
          <p>Description</p>
          <textarea
            name="author-bio"
            placeholder="Author Bio"
          ><%= author.bio %></textarea>
        </label>
        
        <% if (errors && errors.length > 0) { %>
          <% errors.forEach(error => { %>
            <p class="error"><%= error %></p>
          <% }) %>
        <% } %>

        <div>
          <a class="a-button" href="./">Cancel</a>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
